<body>
    <div class="container">
        <div class="heros">
            <div>
            <img src="../../assets/hero1.jpg" alt ="hero1">
            <p>Spiderman</p>
            <h2>12</h2>
            </div>
            <div>
                <img src="../../assets/hero1.jpg" alt ="hero1">
                <p>Spiderman</p>
                <h2>12</h2>
            </div>
            </div>
            <div class="score">
                <h1>5-8</h1>
            </div>
            <div class="villian">
                <div>
                    <img src="../../assets/super-2.png">
                    <h1>23</h1>
                </div>
                <div>
                    <img src="../../assets/super-4.png">
                    <p>The Women</p>
                    <h2>12</h2>
                </div>
            </div>
                
        </div>
    </div>